.page-news-detail {
    padding: 100px 0 80px;
}

.page-news-detail .wrapper {
    width: 100%;
    max-width: 1765px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper--news {
    padding: 0 10px;
}

.news-detail {
    display: grid;
    grid-template-columns: minmax(0, 740px) minmax(0, 1fr);
    grid-template-areas:
        "back img"
        "heading img"
        "contentBlock img";
    gap: 0 164px;
    align-items: start;
    overflow: hidden; 
    margin: -42px 0 0 0;
}

.news-detail-back-link {
    grid-area: back;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    background-color: #EAEDF8;
    border-radius: 6px;
    padding: 10px 42px;
    margin: 126px 0 0 0;
}

.news-detail-back-link:hover,
.news-detail-back-link:focus {
    color: #EAEDF8;
    background-color: #000000;
}

.news-detail-heading {
    grid-area: heading;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0 0 0;
}

.news-detail-heading__title {
    font-size: 60px;
    line-height: 62px;
    color: #000000;
    margin: 0;
}

.news-detail-heading__date {
    width: max-content;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    border-radius: 6px;
    padding: 6px 32px;
}

/* Content */
.news-detail-content-block {
    grid-area: contentBlock;
    max-width: 740px;
}

.news-detail-content {
    padding: 45px 0 0 0;
}

.news-detail-content p {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.news-detail-img {
    grid-area: img;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
}

.news-detail-img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    border-radius: 6px;
}

/* Share */

.share-block {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.news-detail-share.share-block {
    margin: 30px 0 0 0;
}

.share-block__title {
    font-size: 16px;
    line-height: 1;
    color: #8A8383;
    margin: 0;
}

.share-block-list {
    display: flex;
    gap: 5px;
}

.share-block-list__item {
    width: 36px;
    height: 36px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.share-block-list__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-block-list__icon {
    width: 18px;
    height: 16px;
    stroke: #000000;
}

/* Controls */

.news-detail-controls {
    display: flex;
    gap: 22px;
    margin: 122px 0 0 0;
}

.news-detail-controls__control {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Mont-Regular;
    font-size: 18px;
    line-height: 1;
    color: #000000;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #D5DAE9;
    border-radius: 6px;
    padding: 24px 0;
}

.news-detail-controls__control--prev {
    flex-direction: row-reverse;
}

.news-detail-controls__control-icon {
    width: 64px;
    height: 8px;
    fill: #000000;
}

.news-detail-controls__control:hover,
.news-detail-controls__control:focus {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}

.news-detail-controls__control:hover .news-detail-controls__control-icon,
.news-detail-controls__control:focus .news-detail-controls__control-icon {
    fill: #ffffff;
}

@media(max-width: 1600px) {
    .page-news-detail {
        padding: 90px 0 68px;
    }

    .page-news-detail .wrapper {
        padding: 0 65px;
    }

    .wrapper--news {
        padding: 0 65px;
    }

    .news-detail {
        grid-template-columns: minmax(0, 616px) minmax(0, 1fr);
        gap: 0 136px;
    }

    .news-detail-back-link {
        font-size: 15px;
        border-radius: 5px;
        padding: 8px 36px;
        margin: 104px 0 0 0;
    }

    .news-detail-heading {
        gap: 10px;
        margin: 25px 0 0 0;
    }

    .news-detail-heading__title {
        font-size: 50px;
        line-height: 52px;
        margin: 0;
    }

    .news-detail-heading__date {
        font-size: 15px;
        border-radius: 5px;
        padding: 6px 28px;
    }

    .news-detail-content {
        padding: 38px 0 0 0;
    }

    .news-detail-content p {
        font-size: 13px;
        line-height: 20px;
    }

    /* Share */

    .share-block__title {
        font-size: 13px;
    }

    .share-block-list__item {
        width: 30px;
        height: 30px;
    }

    /* Controls */

    .news-detail-controls {
        display: flex;
        gap: 22px;
        margin: 66px 0 0 0;
    }

    .news-detail-controls__control {
        gap: 8px;
        font-size: 15px;
        border-radius: 5px;
        padding: 20px 0;
    }

    .news-detail-controls__control-icon {
        width: 52px;
    }
}

@media(max-width: 1280px) {
    .page-news-detail {
        padding: 82px 0;
    }

    .page-news-detail .wrapper {
        padding: 0 55px;
    }

    .wrapper--news {
        padding: 0 50px;
    }
    
    .news-detail {
        grid-template-columns: minmax(0, 495px) minmax(0, 1fr);
        gap: 0 110px;
    }

    .news-detail-back-link {
        font-size: 12px;
        border-radius: 4px;
        padding: 8px 26px;
        margin: 82px 0 0 0;
    }

    .news-detail-heading {
        gap: 8px;
        margin: 27px 0 0 0;
    }

    .news-detail-heading__title {
        font-size: 40px;
        line-height: 42px;
        margin: 0;
    }

    .news-detail-heading__date {
        font-size: 12px;
        border-radius: 4px;
        padding: 4px 20px;
    }

    .news-detail-content {
        padding: 47px 0 0 0;
    }

    .news-detail-content p {
        font-size: 11px;
        line-height: 14px;
    }

    /* Share */

    .share-block {
        gap: 8px;
    }

    .news-detail-share.share-block {
        margin: 20px 0 0 0;
    }

    .share-block__title {
        font-size: 11px;
        line-height: 1;
    }

    .share-block-list__item {
        width: 24px;
        height: 24px;
    }

    /* Controls */
    .news-detail-controls {
        margin: 53px 0 0 0;
    }

    .news-detail-controls__control {
        font-size: 12px;
        border-radius: 6px;
        padding: 15px 0;
    }
}

@media(max-width: 1024px) {
    .page-news-detail {
        padding: 66px 0 60px;
    }

    .page-news-detail .wrapper {
        padding: 0 20px;
    }

    .wrapper--news {
        padding: 0 20px;
    }

    .news-detail {
        grid-template-columns: 1fr;
        grid-template-areas:
            "back"
            "heading"
            "img"
            "contentBlock";
        gap: 20px;
    }

    .news-detail-content-block {
        max-width: 100%;
    }

    .news-detail-back-link {
        font-size: 18px;
        border-radius: 6px;
        padding: 10px 43px;
    }

    .news-detail-heading {
        max-width: 100%;
        gap: 12px;
        margin: 25px 0 0;
    }

    .news-detail-heading__title {
        font-size: 60px;
        line-height: 62px;
    }

    .news-detail-heading__date {
        font-size: 18px;
        border-radius: 6px;
        padding: 6px 32px;
    }

    .news-detail-img {
        margin: 30px 0 0;
        position: relative;
        padding: 0 0 57.7%;
    }

    .news-detail-img img {
        position: absolute;
    }
    .news-detail-content {
        padding: 30px 0 0;
    }

    .news-detail-content p {
        font-size: 16px;
        line-height: 20px;
    }

    .news-detail-share.share-block {
        margin: 32px 0 0 0;
    }

    .share-block {
        gap: 14px;
    }

    .share-block__title {
        font-size: 16px;
    }

    .share-block-list__item {
        width: 36px;
        height: 36px;
    }

    .news-detail-controls {
        gap: 10px;
    }

    .news-detail-controls__control {
        font-size: 18px;
        gap: 20px;
        padding: 25px 0;
    }

    .news-detail-controls__control-icon {
        width: 62px;
    }

    .news-detail-controls__control:hover,
    .news-detail-controls__control:focus {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        color: #000000
    }

    .news-detail-controls__control:hover .news-detail-controls__control-icon,
    .news-detail-controls__control:focus .news-detail-controls__control-icon {
        fill: #000000;
    }
}

@media(max-width: 767px) {
    .page-news-detail {
        padding: 80px 0 60px;
    }

    .page-news-detail .wrapper {
        padding: 0 10px;
    }

    .wrapper--news {
        padding: 0 10px;
    }

    .news-detail-back-link  {
        margin: 42px 0 0 0;
    }

    .news-detail-heading {
        margin: 8px 0 0;
    }

    .news-detail-heading__title {
        font-size: 36px;
        line-height: 40px;
    }


    .news-detail-controls {
        gap: 8px;
        flex-direction: column;
        margin: 40px 0 0 0;
    }

    .news-detail-controls__control {
        gap: 10px;
    }
}