.visuaslly-hidden {
    opacity: 0;
    visibility: hidden;
    font-size: 0;
    width: 0;
    height: 0;
}

.page-news {
    padding: 227px 0 111px;
}

.news .wrapper {
    padding: 0 10px;
}

.wrapper--news {
    padding: 0 10px;
}

.page-news-title {
    font-size: 131px;
    line-height: 1;
    color: #000000;
    padding: 0;
    margin: 0;
}

/* NewsByYear */

.news-by-year-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    padding: 82px 12px;
    margin: 0;
}

.news-by-year-list__btn {
    font-family: Mont-Regular;
    width: 123px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #B0B7CC;
    border-radius: 6px;
    margin: 0;
    cursor: pointer;
}

.news-by-year-list__btn--active {
    border: 2px solid #F04C23;
}

.news-by-year-list__btn:hover,
.news-by-year-list__btn:focus {
    border-color: #F04C23;
}

/* News List */

.news-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 54px 28px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-list__item {
    display: flex;
    flex-direction: column;
    background-color: #EAEDF8;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 0 5px;
}

.news-list__poster {
    position: relative;
    margin: 0;
}

.news-list__poster img {
    width: 100%;
    object-fit: cover;
    max-height: 264px;
    clip-path: polygon(
    0 0, 
    100% 0,
    100% calc(100% - 60px),
    calc(100% - 103px) 100%,
    0 100%
    );
}

.news-list__item-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 30px;
    position: absolute;
    top: 11px;
    right: 13px;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.14);
    border-radius: 6px;
}

.news-list__item-title {
    min-height: 66px;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding: 0 24px;
    margin: 18px 0 0 ;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-list__item-anons {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    padding: 0 24px;
    margin: 18px 0 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.news-list__item-detail {
    display: block;
    width: calc(100% - 10px);
    font-size: 18px;
    line-height: 1;
    color: #000000;
    text-decoration: none;
    color: #F04C23;
    text-align: center;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 16px 0;
    margin: auto auto 0;
}

.news-list__item-detail:hover,
.news-list__item-detail:focus {
    color: #ffffff;
    background-color: #F04C23;
}

.show-more-news-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #D5DAE9;
    border-radius: 6px;
    padding: 24px;
    margin: 54px 0 0;
    cursor: pointer;
}

.show-more-news-btn:hover,
.show-more-news-btn:focus {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

@media(max-width: 1600px) {
    .page-news {
        padding: 190px 0 92px;
    }

    .news .wrapper {
        max-width: 1489px;
        padding: 0 10px;
    }

    .wrapper--news {
        max-width: 1489px;
        padding: 0 10px;
    }

    .page-news-title {
        font-size: 109px;
    }

    /* NewsByYear */

    .news-by-year-list {
        gap: 5px;
        padding: 68px 12px;
    }

    .news-by-year-list__btn {
        width: 102px;
        height: 45px;
        font-size: 15px;
        border-radius: 5px;
    }

    /* News */

    .news-list {
        max-width: 1440px;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: 45px 24px;
        margin: 0 auto;
    }

    .news-list__item-title {
        min-height: 56px;
        font-size: 23px;
        line-height: 28px;
        padding: 0 20px;
        margin: 15px 0 0;
    }

    .news-list__poster img {
        max-height: 220px;
        clip-path: polygon(
        0 0, 
        100% 0,
        100% calc(100% - 49px),
        calc(100% - 84px) 100%,
        0 100%
        )
    }

    .news-list__item-date {
        width: 76px;
        height: 24px;
        top: 12px;
        right: 8px;
        font-size: 15px;
        border-radius: 5px;
    }

    .news-list__item-anons {
        font-size: 12px;
        line-height: 16px;
        padding: 0 20px;
        margin: 15px 0;
    }

    .news-list__item-detail {
        font-size: 15px;
    }
    
    .show-more-news-btn {
        max-width: 1440px;
        font-size: 15px;
        margin: 45px auto 0;
    }
}

@media(max-width: 1280px) {
    .news .wrapper {
        padding: 0 83px;
    }

    .wrapper--news {
        padding: 0 83px;
    }

    .news-by-year-list {
        padding: 68px 12px 62px;
    }

    .news-list {
        max-width: 1100px;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: 30px 10px;
    }

    .news-list__item-title {
        min-height: 66px;
        font-size: 28px;
        line-height: 33px;
        padding: 0px 22px;
        margin: 20px 0 0;
    }

    .news-list__poster img {
        max-height: max-content;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), calc(100% - 100px) 100%, 0 100%);
    }

    .news-list__item-date {
        width: 92px;
        height: 30px;
        right: 12px;
        font-size: 18px;
        border-radius: 6px;
    }

    .news-list__item-anons {
        font-size: 14px;
        line-height: 18px;
        -webkit-line-clamp: 6;
        padding: 0 22px;
        margin: 18px 0 6px;
    }

    .news-list__item-detail {
        font-size: 18px;
        padding: 18px 0;
        margin: auto auto 0;
    }

    .show-more-news-btn {
        max-width: 1100px;
        font-size: 18px;
        margin: 30px auto 0;
    }
}

@media(max-width: 1024px) {
    .page-news {
        padding: 119px 0 60px;
    }

    .page-news-title {
        font-size: 90px;
    }

    .news .wrapper {
        padding: 0 20px;
    }

    .wrapper--news {
        padding: 0 20px;
    }

    /* NewsByYear */

    .news-by-year-list {
        gap: 6px;
        padding: 30px 0;
    }

    .news-by-year-list__btn {
        width: 74px;
        height: 54px;
        font-size: 18px;
        border-radius: 6px;
    }

    .news-by-year-list__btn:hover,
    .news-by-year-list__btn:focus {
        border-color: #B0B7CC;
    }

    /* News */

    .news-list {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    .news-list__item-detail:hover,
    .news-list__item-detail:focus {
        color: #F04C23;
        background-color: #ffffff;
    }

    .show-more-news-btn:hover,
    .show-more-news-btn:focus {
        color: #D5DAE9;
        background-color: #ffffff;
    }
}

@media(max-width: 767px) {
    .page-news {
        padding: 86px 0 60px;
    }

    .page-news-title {
        font-size: 48px;
    }

    .news .wrapper {
        padding: 0 10px;
    }

    .wrapper--news {
        padding: 0 10px;
    }
    
     /* NewsByYear */
    .news-by-year-list {
        overflow-x: scroll;
        flex-wrap: nowrap;
        gap: 6px;
        padding: 6px 10px;
        margin: 0 -10px 34px;
    }

    .news-by-year-list__btn {
        width: 97px;
        height: 54px;
        font-size: 18px;
        border-radius: 6px;
    }

     /* News */
    
    .news-list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }

    .show-more-news-btn {
        margin: 20px auto 0;
    }
}